.alert {
  display: block;
  width: $alert-width;
  @include alert-color(rgba($primary, 0.8), $white);
  border-radius: $alert-border-radius;
  border-width: $alert-border-width;
  border-style: solid;
  padding: $btn-padding-y $btn-padding-x;
  position: relative;
  span.alert-message {
    margin-bottom: 0;
    line-height: $alert-line-height;
    font-size: $alert-message-font-size;
  }
  p.alert-description {
    margin-top: 0;
    margin-bottom: 0;
    line-height: $alert-line-height;
    font-size: $alert-description-font-size;
  }
  > i:last-child {
    position: absolute;
    right: $alert-icon-right;
    top: $alert-icon-top;
    font-style: normal;
    cursor: pointer;
    font-weight: $alert-icon-font-weight;
    font-size: $alert-icon-font-size;
  }
}

.alert-default {
  @include alert-style($orange, $orange, $black);
}

.alert-success {
  @include alert-style($success, $success, $black);
}
.alert-danger {
  @include alert-style($danger, $danger, $black);
}
.alert-warning {
  @include alert-style($warning, $warning, $black);
}
