.container {
  position: fixed;
  right: 0;
  top: 8px;
  height: 500px;
  left: 0;
  z-index: 999;
  user-select: none;
  pointer-events: none;
}

.pusu-message {
  display: block;
  margin: 12px auto;
  text-align: center;
  line-height: 1.5;
  max-width: 80vw;

  &-wrapper {
    border-radius: 2em;
    padding: 10px 16px;
    box-shadow: 0 3px 6px -4px rgba(0, 0 ,0 , 0.12), 0 6px 16px 0 rgba(0, 0 ,0 , 0.08),
    0 9px 28px 8px rgba(0, 0 ,0 , 0.05);
    background-color: #fff;
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    > span {
      font-size: $font-size-sm;
      display: flex;
      align-items: center;
    }
  }
  &-text {
    padding-left: 10px;
  }

  &-open {
    pointer-events: auto;
    animation: pusu-fade-in 0.3s both;
  }

  &-close {
    pointer-events: none;
    animation: pusu-fade-out 0.3s both;
  }
}
